@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@import "reset.css";
@import "variables.css";

/* Screens */
@import "screens/welcome.css";
@import "screens/friends.css";

/* Components */
@import "components/top-header.css";
@import "components/user-component.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--bg1);
  color: white;
}
