@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@import "reset.css";
@import "variables.css";

/* Screens */
@import "screens/welcome.css";
@import "screens/friends.css";
@import "screens/message.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/* Components */
@import "components/main-logo.css";
@import "components/top-header.css";
@import "components/user-component.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/badge.css";
@import "components/icons-low.css";
@import "components/alt-top-header.css";
@import "components/no-mobile.css";

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--bg1);
  color: white;
  margin-top: 97px;
}

.main-screen {
  margin: var(--main-space);
  margin-bottom: 0;
}
