.friends-search {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.friends-search__bar {
  margin: 0 var(--main-space);
  color: white;
  background-color: var(--bg4);
  border: none;
  font-size: 16px;
  padding: 10px;
  padding-right: 50px;
  border-radius: 5px;
  transition: transform 0.15s ease-in-out;
}

.friends-search__bar::placeholder {
  color: var(--text-gray);
}

.friends-search__bar:focus {
  transform: scale(1.025);
}

.friends-search i {
  color: var(--text-gray);
  position: absolute;
  font-size: 20px;
  top: 19px;
  right: 34px;
}

.friends-main__user-me {
  margin: 0 var(--main-space);
  padding-top: 5px;
  padding-bottom: 30px;
  border-bottom: var(--main-border);
}

.all-friends__counter {
  display: block;
  margin: 15px var(--main-space);
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 600;
}

.friends-main__all-friends .user-component {
  margin: 0 var(--main-space);
  border-top: var(--main-border);
  padding-top: 10px;
  padding-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.friends-main__all-friends .user-component:hover {
  margin: 0;
  padding: 10px var(--main-space);
  padding-bottom: 20px;
  background-color: var(--bgpick);
  border-radius: 15px;
}
