.alt-top-header {
  padding: var(--main-space);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  color: var(--text-gray);
  background-color: var(--bg3);
  position: fixed;
  top: 30px;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
}

.alt-top-header__column {
  display: flex;
  align-items: center;
  width: 30%;
}

.alt-top-header__column:first-child a:hover {
  color: white;
}

.alt-top-header__column:nth-child(2) {
  width: 40%;
  justify-content: center;
}

.alt-top-header__column:last-child {
  justify-content: flex-end;
}

.alt-top-header__title {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.alt-top-header__btn {
  margin-left: 25px;
}

.alt-top-header__btn:hover {
  color: white;
}

@keyframes PhoneCall {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(25deg);
  }
  50% {
    transform: rotateZ(-10deg) scale(1.2);
  }
  70% {
    transform: rotateZ(25deg);
  }

  100% {
    transform: none;
  }
}

.alt-top-header__btn .fa-phone:hover {
  color: var(--green);
  animation: PhoneCall 0.5s ease-in-out;
}
