.no-mobile {
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 150;
}

.no-mobile__icon {
  font-size: 175px;
}

.no-mobile__title {
  font-size: 75px;
  font-weight: 600;
  margin: 30px 0;
}

.no-mobile__subtitle {
  font-size: 28px;
  margin-bottom: 70px;
}

@keyframes width-here {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
.no-mobile__width-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.no-mobile__width-icon {
  animation: width-here 1.5s ease-in-out infinite;
}

.no-mobile__width-text {
  margin-left: 5px;
  animation: width-here 1.5s ease-in-out infinite;
}

@media screen and (max-width: 700px) {
  .no-mobile {
    display: none;
  }
}
