.status-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 7px;
  background-color: var(--bg4);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 105;
}

.status-bar__column {
  width: 30%;
  display: flex;
  align-items: center;
}

.status-bar__column:nth-child(2) {
  width: 40%;
  justify-content: center;
}

.status-bar__column:last-child {
  justify-content: flex-end;
}

.status-bar__column:first-child i,
.status-bar__battery-per {
  margin: 0 5px;
}
