body {
  margin-top: +69px;
}
.top-header {
  display: flex;
  justify-content: space-between;
  padding: var(--main-space);
  font-size: 24px;
  font-weight: 600;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bg1);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  top: 30px;
}

.top-header__title i {
  margin-right: 15px;
  color: var(--text-gray);
}

.top-header__btn {
  color: var(--text-gray);
  margin-left: 20px;
}

.top-header__btn--noti {
  position: relative;
}

.top-header__btn--noti .badge {
  position: absolute;
  bottom: 0;
  right: -5px;
}
