.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__img-box {
  position: relative;
}

.user-component__img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.user-component .main-logo i {
  font-size: 30px;
}

.user-component__img--lg {
  height: 80px;
  width: 80px;
}

/* STATE - START */
.user-component__state {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  right: -4px;
  border: 4px solid var(--bg1);
  display: flex;
}

.user-component__state-icon {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background-color: var(--bg1);
}

/* State = OFFLINE --offline */
.user-component__state--offline {
  background-color: var(--text-gray);
  justify-content: center;
  align-items: center;
}

/* State = DoNotDisturb --DnD */
.user-component__state--DnD {
  background-color: var(--red);
  justify-content: center;
  align-items: center;
}
.user-component__state--DnD .user-component__state-icon {
  height: 22%;
  width: 70%;
  border-radius: 0;
}

/* State = Idle --idle */
.user-component__state--idle {
  background-color: var(--yellow);
}
.user-component__state--idle .user-component__state-icon {
  width: 60%;
  height: 60%;
}

/* State = Online --online */
.user-component__state--online {
  background-color: var(--green);
}
.user-component__state--online .user-component__state-icon {
  display: none;
}
/* STATE - END */

.user-component__text-box {
  margin-left: 15px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 600;
}

.user-component__subtitle {
  display: block;
  margin-top: 10px;
  color: var(--text-gray);
}

.user-component__subtitle--link {
  color: var(--link-blue);
  margin-left: 10px;
}

.user-component__subtitle strong {
  font-weight: 600;
}

.user-component__btn-box {
  display: flex;
}

.user-component__btn {
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--text-gray);
  font-size: 24px;
  background-color: var(--bg2);
  margin-left: 12px;
}

.user-component__column:last-child {
  flex-direction: column;
  align-items: flex-end;
}

.user-component__column .badge {
  margin-top: 10px;
}
